@import "https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap";
body {
  background-color: #0E0E0E;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

a {
  color: inherit;
}

.container {
  max-width: 1224px;
  padding: 0 12px;
  margin: 0 auto;
}

.section-page {
  padding: 100px 0;
}

.title {
  text-align: center;
  margin-bottom: 100px;
  font-size: 36px;
  line-height: 42px;
}

.numbers-of-series::before {
  z-index: -1;
  font-weight: bold;
  font-size: 96px;
  line-height: 112px;
  color: #600E09;
}

.watch-link {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  background: #0E0E0E;
}

.header {
  height: 100vh;
  background: url("../../img/optimize/header-bg.jpg") no-repeat;
  background-position: center 50px;
  background-size: cover;
  text-align: center;
}

.header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0E0E0E), color-stop(16.53%, rgba(17, 17, 17, 0.850295)), to(rgba(32, 31, 33, 0)));
  background: -o-linear-gradient(top, #0E0E0E 0%, rgba(17, 17, 17, 0.850295) 16.53%, rgba(32, 31, 33, 0) 100%);
  background: linear-gradient(180deg, #0E0E0E 0%, rgba(17, 17, 17, 0.850295) 16.53%, rgba(32, 31, 33, 0) 100%);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.menu {
  padding: 50px 0 58px;
  background: -webkit-gradient(linear, left top, left bottom, from(#111213), color-stop(43.62%, #111213), color-stop(86.33%, rgba(32, 31, 33, 0)));
  background: -o-linear-gradient(top, #111213 0%, #111213 43.62%, rgba(32, 31, 33, 0) 86.33%);
  background: linear-gradient(180deg, #111213 0%, #111213 43.62%, rgba(32, 31, 33, 0) 86.33%);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.menu__list-item {
  padding: 0 13px;
}

.menu__list-link {
  font-size: 36px;
  line-height: 42px;
}

.menu__list-link:hover {
  color: #85CCDC;
  text-decoration: underline;
}

.logo {
  margin: 178px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__info {
  width: 375px;
  margin-right: 50px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.about__info-item {
  margin-bottom: 25px;
  color: #E5E5E5;
}

.about__info-item span {
  display: block;
}

.about__description {
  color: #fff;
}

.about__description p {
  margin: 0;
  margin-bottom: 25px;
}

.video {
  background: url("../../img/optimize/trailer-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  text-align: right;
}

.video__title {
  padding-top: 385px;
  margin-bottom: 45px;
  font-style: italic;
  font-weight: 300;
  font-size: 72px;
  line-height: 84px;
  color: #85CCDC;
}

.video__title span {
  display: block;
  padding-right: 295px;
}

.video_btn {
  padding-left: 112px;
  position: relative;
  left: -235px;
}

.video_btn::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  top: -38px;
  background-image: url("../../img/optimize/svg/youtube-play-button.svg");
}

.seasons__inner {
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 100px 75px;
  counter-reset: number;
}

.seasons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 350px;
  height: 250px;
  background-position: center center;
  background-size: cover;
}

.seasons__item::before {
  content: "0" counter(number);
  counter-increment: number;
  position: absolute;
  left: 0;
  top: -72px;
}

.seasons__item:hover .seasons__link {
  opacity: 1;
}

.seasons__item:hover::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: show-overlay .25s ease-out forwards;
  animation: show-overlay .25s ease-out forwards;
}

@-webkit-keyframes show-overlay {
  to {
    background: rgba(14, 14, 14, 0.8);
  }
}

@keyframes show-overlay {
  to {
    background: rgba(14, 14, 14, 0.8);
  }
}

.seasons__link {
  opacity: 0;
  -webkit-transition: .25s ease-out;
  -o-transition: .25s ease-out;
  transition: .25s ease-out;
  padding: 12px 78px 11px;
  z-index: 2;
}

.heroes__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.heroes__slider-img {
  max-width: 775px;
  max-height: 450px;
}

.hero-image {
  min-width: 775px;
  max-height: 450px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0% 12%;
  object-position: 0% 12%;
}

.heroes__slider-text {
  max-width: 350px;
}

.hero-text p {
  margin: 0;
  padding-bottom: 20px;
}

.hero-name {
  margin-bottom: 60px;
  font-style: italic;
  font-weight: 300;
  font-size: 72px;
  line-height: 53px;
  color: #85CCDC;
}

.slick-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  padding: 0;
  z-index: 10;
}

.slick-next {
  right: 38px;
}

.slick-prev {
  left: 38px;
}

.footer {
  padding: 15px 0 15px;
  text-align: center;
}

/* season 1 start */
.menu__list-link_active {
  color: #85CCDC;
  text-decoration: underline;
}

.menu-container {
  position: relative;
  max-width: 1385px;
  margin: 0 auto;
}

.page-logo {
  position: absolute;
  left: 0;
}

.header-seasons-pages {
  position: relative;
  height: 85vh;
  background: url("../../img/optimize/img-seasons/season-1-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

.season-info {
  max-width: 1385px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 44px 47px 64px 35px;
  background-color: #0E0E0E;
}

.season-info__num {
  text-align: center;
  font-weight: bold;
  font-size: 96px;
  line-height: 64px;
  color: #FFFFFF;
}

.season-info__num span {
  display: block;
  font-size: 36px;
  line-height: 25px;
}

.season-info__description {
  margin-left: 45px;
}

.season-info__description p {
  margin: 0;
  margin-bottom: 20px;
}

.series {
  padding: 100px 0 160px;
}

/* season 1 end */
@media screen and (max-width: 820px) and (max-height: 420px) {
  /* landscape orientation moobile */
}
