
@media screen and (max-width:1420px) {
    .page-logo {
        left: 12px;
    }
}
@media screen and (max-width:1366px){
    .logo__img {
        width: 55%;
    }
    .about__info {
        width: 250px;
    }
    .header-seasons-pages {
        height: 110vh;
    }
}

@media screen and (max-width:1199px){
    .video__title {
        line-height: 58px;
    }
    .heroes__inner {
        flex-direction: column;
        align-items: center;
    }
    .heroes__slider-img {
        max-width: 80%;
        max-height: 100%;
    }
    .hero-image {
        width: 100%;
        max-height: 100%;
        object-position: 0% 0%;
    }
    .slick-next {
        right: 38px;
    }
    .heroes__slider-text {
        margin-top: 50px;
        max-width: 80%;
    }
    .hero-name {
        margin-bottom: 30px;
    }
}
@media screen and (max-width:1075px) {
    .seasons__item {
        height: 348px;
    }
}

@media screen and (max-width:991px){
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 15px 0 0;
        height: 110px;
        z-index: 8888;
        background: linear-gradient(180deg, #111213 0%, #111213 55%, rgba(32, 31, 33, 0) 95%);
    }
    .menu-container {
        height: 0;
    }
    .menu__mobile-btn {
        position: fixed;
        top: 15px;
        right: 12px;
        z-index: 8889;
        display: block;
    }
    .page-logo {
        position: fixed;
        top: 10px;
        left: 12px;
        z-index: 8889;
    }
    .menu__list {
        transition: all .4s ease-in-out;
        background: #111213;
        visibility: hidden;
        flex-direction: column;
        margin-top: 60px;
        transform: translateY(-150%);
    }
    .menu__list_active {
        visibility: visible;
        transform: translateY(-2%);
    }
    
    .menu__list-item {
        padding: 0;
    }
    .menu__list-link {
        display: inline-block;
        width: 100%;
        height: 60px;
        text-align: center;
        line-height: 58px;
        transition: .2s ease;
        &:hover {
            background-color:#2e3238;
        }
    }
    .menu__list-link_active {
        background-color:#2e3238;
    }
    .logo {
        padding-top: 34vh;
    }
    .video_btn {
        left: 0;
        padding-left: 61px;
    }
    .video_btn::after {
        width: 50px;
        height: 50px;
        background-size: cover;
        left: 0;
        top: -14px;
    }
    .heroes__slider-img {
        max-width: 100%;
    }
    .hero-image {
        max-width: 100%;
    }
    
}

@media screen and (max-width:767px){
    .header {
        &::after {
            content: '';
            display: none;
        }
    }
    .about__wrapper {
        flex-direction: column;
    }
    .section-page {
        padding: 50px 0;
    }
    .title {
        margin-bottom: 50px;
    }
    .video__title {
        line-height: 40px;
        margin-bottom: 22px;
    }
    .seasons__inner {
        grid-gap: 75px 35px;
    }
    .seasons__item {
        height: 238px;
    }
    .watch-link {
        font-size: 30px;
    }
    .heroes__slider-text {
        margin-top: 25px;
        max-width: 100%;
    }
    .season-info {
        padding: 40px 12px 0 12px;
        flex-direction: column;
    }
    .season-info__num {
        font-size: 64px;
        line-height: 38px;
        margin-bottom: 15px;
    }
    .season-info__num span {
        font-size: 26px;
    }
    .season-info__description {
        margin: 0;
    }
}
@media screen and (max-width:660px) {
    .seasons__item {
        height: 380px;
    }
}

@media screen and (max-width:575px){
    .header-seasons-pages {
        height: calc(700px + 70vh);
    }
}

@media screen and (max-width:460px){
    .section-page {
        padding: 25px 0;
    }
    .title {
        margin-bottom: 25px;
    }
}

@media screen and (max-width:820px) and (max-height: 420px){
    /* landscape orientation moobile */
    .header-seasons-pages {
        height: calc(500px + 70vh);
    }
} 

@media screen and (max-width:420px){
    .seasons__item {
        height: 280px;
    }
}

@media screen and (max-width:370px){
    body {
        font-size: 16px;
        line-height: 18px;
    }
    .seasons__inner {
        grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    }
    .seasons__item {
        height: 240px;
    }
}

@media screen and (max-width:330px){
    
}